:root{
  --background-color: #242424;
  --font-color: #FFFFFF;
  --accent-color:#0000FF;
  --muted-color: #808080;
  --mono-font: small-caps normal "Liberation Mono" monospace, monospace;
}
html, body{
  height:100%;
  font-family: "Liberation Sans", sans-serif;
  color: var(--font-color);
  background:var(--background-color);
  margin: auto;
}

body {
  min-height:100%;
}

p{
  font-size:1rem;
}

hr{
  color: grey;
  width: 70%;
  opacity: 0.4;
}
.accent-inline-text{
  margin: 0 !important;
  padding: 0 !important;
  color: var(--accent-color);
}
.doomheader{
  background-color: #000000;
  margin-bottom:0.25rem;
}
.doomfooter{
  font-size: 0.8rem;
  text-align: center;
  color: var(--muted-color);
  margin-bottom: 0.01rem;
}
.doomfooter::after {
  content: "${doomtech}";
  height: 1rem;
  width: 100%;
  display: block;
  color: var(--accent-color);
  background:var(--accent-color);
}

.lyricsLink{
  text-decoration: underline;
  font-style: italic;
}

.lyricsLink:hover{
  cursor: pointer;
}

.section-content{
  margin: auto !important;
  padding-left: 7%;
}

.mono-text{
  font-family: "Liberation Mono", monospace;
}

.guitar-tab .tab-line{
  display: flex;
  justify-content: center;
}

.loading-caption{
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  font-style: italic;
}

.modal-content{
  overflow: auto;
}

@media (min-width:768px){
  html, body{
    font-size: 1.2rem;
  }

  .section{
    padding:0.5rem;
    padding-left: 6rem;
  }

  .tagline{
    width:50%;
  }
}